# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data & models (trop lourds pour git)
data/input/
data/output/
reports/

# MLFlow
notebooks/mlruns/

# Env
.env
*.env

# macOS
.DS_Store

# IDE
.idea/
.vscode/
